<!DOCTYPE html>
<html>
<head>
	<title>VgramApp</title>
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
 	<!-- <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet"> -->
 	<link rel="stylesheet" type="text/css" href="/css/vgram.css">
 	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light" style="margin-bottom: 3%;">
	<div class="container">
		<div class="navbar-brand">Vgram</div>
  		<a href="/" style="color: black;"><div class="nav navbar-nav mr-sm-2">Home</div></a>
	</div>
</nav>

<div class="userlog">
<div class="container">
	<div class="row myuserrow" style="width: 60%;margin:auto;">
		<div class="col-md-12 col-12">

<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Sign Up</a>
  </li>
</ul>
<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
  	<form action="login" method="POST">
		<div class="form-group">
			<input class="form-control" type="text" name="username" placeholder="username" required>
		</div>
		<div class="form-group">
			<input class="form-control" type="password" name="password" placeholder="password" pattern=".{5,10}" required title="must be of 5 to 10 characters">
		</div>
		<div class="form-group">
			<button class="btn btn-lg btn-secondary btn-block">Submit!</button>
		</div>
	</form>
  </div>
  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
  	<form action="register" method="POST">
		<div class="form-group">
			<input class="form-control" type="text" name="username" placeholder="username" required>
		</div>
		<div class="form-group">
			<input class="form-control" type="text" name="name" placeholder="name" required>
		</div>
		<div class="form-group">
			<input class="form-control" type="text" name="bio" placeholder="bio" required>
		</div>
		<div class="form-group">
			<input class="form-control" type="password" name="password" id="ownerpassword" placeholder="password" pattern=".{5,10}" required title="must be of 5 to 10 characters">
		</div>
		<div class="form-group">
			<input class="form-control" type="password" name="confirmpassword" id="confirmownerpassword" placeholder="confirm password" pattern=".{5,10}" required title="must be of 5 to 10 characters">
			<b><span id='ownermessage'></span></b>
		</div>
		<div class="form-group">
			<button class="btn btn-lg btn-secondary btn-block">Submit!</button>
		</div>
	</form>
  </div>
</div>
		</div>
	</div>
</div>
</div>

<script>
$('#ownerpassword, #confirmownerpassword').on('keyup', function () {
  if ($('#ownerpassword').val() == $('#confirmownerpassword').val()) {
    $('#ownermessage').html('Matching').css('color', 'green');
  } else 
    $('#ownermessage').html('Not Matching').css('color', 'red');
});
</script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>